/.vscode
/vendor
/noctium
/unit-tests.xml
/pkg/README.md
/pkg/common/libexec/octium-postinstall-common.sh
/pkg/common/libexec/octium-provision-user
/pkg/common/libexec/run-as.template
/pkg/common/share/gitconfig
/pkg/deb/README.md
/pkg/deb/debian/README.Debian
/pkg/deb/debian/changelog
/pkg/deb/debian/octium.install
/pkg/deb/debian/octium.postinst
/pkg/deb/debian/octium.postrm
/pkg/deb/debian/rules
