/.vscode
/vendor
/noctium
/unit-tests.xml
/pkg/README.md
/pkg/common/libexec/octium-postinstall-common.sh
/pkg/common/libexec/run-as-octium
/pkg/common/share/gitconfig
/pkg/common/sudoers.d/octium-users-octium-echo
/pkg/common/sysusers.d/octium-octium.conf
/pkg/common/tmpfiles.d/octium-octium.conf
/pkg/deb/README.md
/pkg/deb/debian/README.Debian
/pkg/deb/debian/octium.install
/pkg/deb/debian/octium.postinst
/pkg/deb/debian/rules
/pkg/deb/debian/changelog
